
.full-container{
    display: flex;
    justify-content: left;
  }
  
.business-pane {
    display: flex;
    border: 2px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: left;

  }


.business-container {
    display: flex;
    border: 2px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: right;
    flex-direction: column;
    flex-basis: auto;
  }