:root {
  --navbar-height: 65px; 
}

.full-container{
    display: flex;
    justify-content: center;
    height: 10vh;
  }


.business-container {
    display: flex;
    border: 2px solid black;
    /* margin: 0.5rem;
    padding: 0.5rem; */
    align-items: center;
    flex-direction: column;
    flex-basis: auto;
  }


.account-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAV BAR */
.zelp-logo {
  text-decoration: none;
  /* ITS NOT FUCKING BLACK AND IDK WHY */
  color: #000000; 
  font-size : 40px;
  font-weight : 500; 
  letter-spacing: 2px; 
}

.nav-login-button {
  text-decoration: none;
  color: #000000; 
}

/* LOG IN PAGES */
.center-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top : 50px; 
}

.big-title { 
  font-size : 50px; 
  font-style : italic; 
}

.text-input {
  width : 20vw; 
  margin-top: -20px;
}

.alt-option{
  font-size : 12px;
  color: grey; 
  border-bottom:1px solid lightgrey;
  margin: 30px;
}

.wide-button {
  width : 20vw; 
}

.smaller-margin {
  margin: -25px;
}

.zelp-description{
  padding-left: 50px;
  padding-right: 50px; 
  text-align: center;
  font-size: 14px;
}

.primary-header {
  font-size: 2.5em;
  text-align: center;
  margin: 20px;
}

.secondary-header {
  font-size: 2em;
  text-align: center;
}

.tertiary-header {
  font-size: 1.5em;
  text-align: center;
}

.quaternary-header {
  font-size: 1em;
  text-align: center;
}

.row-container {
  display : flex; 
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}