:root {
  --navbar-height: 65px; 
}

.full-container{
    display: flex;
    justify-content: center;
    height: 10vh;
  }


/* .business-container {
    display: flex;
    border: 2px solid black;
    align-items: center;
    flex-direction: column;
    flex-basis: auto;
  } */

.business-count {
  float: right;
  color: white; 
  background: gray; 
  border-radius: 50%; 
  width: 35px; 
  height: 35px; 
  text-align: center;
  user-select: none;
  }


.account-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAV BAR */
.zelp-logo {
  text-decoration: none;
  color: #000000; 
  font-size : 40px;
  font-weight : 500; 
  letter-spacing: 2px; 
}

.nav-login-button {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

/* LOG IN PAGES */
.overlay-card{
  padding-left : 70px; 
  padding-right : 70px; 
  padding-top: 5px; 
  padding-bottom: 20px; 
}

.center-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top : 40px; 
}

.big-title { 
  font-size : 50px; 
  font-style : italic; 
}

.text-input {
  width : 100%; 
  margin-top: -20px;
}

.alt-option{
  font-size : 12px;
  color: grey; 
  border-bottom:1px solid lightgrey;
  margin: 30px;
}

.wide-button {
  width : 20vw; 
}

.smaller-margin {
  margin-top: -25px;
}

.zelp-description{
  padding-left: 50px;
  padding-right: 50px; 
  text-align: center;
  font-size: 14px;
  max-width: 50vw;
}

.primary-header {
  font-size: 2.5em;
  text-align: center;
  margin: 20px;
}

.secondary-header {
  font-size: 2em;
  text-align: center;
}

.tertiary-header {
  font-size: 1.5em;
  text-align: center;
}

.quaternary-header {
  font-size: 1em;
  text-align: center;
}

.row-container {
  display : flex; 
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}